h1{
    font-size: 90px;
    font-family: 'Hiragino Maru Gothic ProN', sans-serif;
}
h2{
    font-size: 50px;
    font-family: 'Soma';
}

header{
    background-color:hsl(0, 0%, 50%);
    height: 40px;
}

li{
    display: inline-block;
    padding: 10px;
    background-color: rgb(8, 39, 179);
    
}

.topnav li a{
    text-decoration: none;
    color: rgba(238, 233, 233, 0.892);
    font-weight: bolder;
    
}


p{
    font-size: 30px;
    font-family: 'Helvetica';
}
fieldset{
    width: 98%;
    text-align: center;
}



label {
     display: block;
     margin: 0.5rem 0;
    }

    input,
    textarea, email {
      margin: 10px 0 0 0;
      width: 40%;
      min-height: 2em;

    }
    
